
body {
        background-color: #F3F3F3;
}
.contactUsContainer {
/*         padding: 0 65px; */
/*         margin: 165px auto; */
        padding:120px 65px;
}

.contactUsRow{
        position: relative;
/*         margin: 165px auto; */
        padding: 65px;
        border-radius: 30px;
        background-color: #FFF;
        border: 1px solid #000;
}

.contactUsContainer .form h1 {
        color: #1A284E;
        direction: rtl;
}

.contactUsContainer form {
        width: 50%;
        margin: 85px;
}
.contactUsContainer .img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: fit-content !important;
}

.contactUsContainer form p {
        font-size: 20px;
        font-weight: bold;
        margin: 40px 5px 20px 0;
        direction: rtl;
        text-align: right;
}

.contactUsContainer form input {
        width: 100%;
        height: 60px;
        border: none;
        background-color: #1A284E;
        opacity: 10%;
}
.contactUsContainer form textarea {
        width: 100%;
        border: none;
        background-color: #1A284E;
        opacity: 10%;
        resize: none;
}
.contactUsContainer form button {
        width: 165px;
        height: 80px;
        margin: 50px 0;
        background-color: #1A284E;
        color: white;
        border-radius: 15px;
        font-weight: bolder;
        font-size: 30px;
}

/* mobile view */
@media (min-width: 320px) and (max-width: 768px){
        .contactUsContainer {
                padding: 0 35px;
        }
        .contactUsRow {
                padding: 25px 65px 65px 65px;
        }
        .contactUsRow .img {
                display: none;
        }
        .contactUsRow .form {
                width: 100%;
                margin:10px;
        }
        .contactUsRow form {
                width: 100%;
                margin: 10px;
        }
        .contactUsRow form input , 
        .contactUsRow form textarea {
                background-color: #1C89C4;
                opacity: 10%;
        }
        .contactUsRow form button {
                background-color: #1C89C4;
                height: 80px;
                width: 150px;
        }
        .contactUsRow .form h1 {
                color: #1C89C4;
        }
}

/* button in the mobile view except tablets*/
@media (min-width: 320px) and (max-width: 425px){

        .contactUsRow form button {
                height: 50px;
                position: absolute;
                bottom: -30px;
                left: 10px;
                border: none;
        }
}

/* img in laptop */
@media (min-width: 769px) and (max-width: 1023px) {
        .contactUsRow {
                padding: 0;
        }
        .contactUsRow form {
                width: 45%;
                margin: 50px;
        }
        .contactUsRow .img {
                position: absolute;
                bottom: 0;
                right: -80px;
        }
        .contactUsRow img {
                width: 500px;
        }
}

@media (width: 1024px) {
        .contactUsRow .img {
                position: absolute;
                bottom: 0;
                right: calc(25%);
                width: 35%;
        }
}
