.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.login .logo {
  width: 90%;
}
.form-v6-content {
  background: #fff;
  width: 968px;
  border: 1px solid #1a284e;
  border-radius: 20px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 20px 0;
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 700;
  position: relative;
  display: flex;
  display: -webkit-flex;
}
.form-v6-content .form-left {
  margin-bottom: -6px;
}
.form-v6-content .form-left img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.form-v6-content .form-detail {
  padding: 30px 40px;
  position: relative;
  width: 100%;
}
.form-v6-content .form-detail h2 {
  color: #333;
  font-size: 35px;
  text-align: center;
  position: relative;
  padding: 6px 0 0;
  margin-bottom: 47px;
}
.form-v6-content .form-row {
  width: 50%;
}
.form-v6-content .form-detail .form-row-last {
  text-align: center;
}
.form-row.col-6-last {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-v6-content .form-detail .input-text {
  margin-bottom: 35px;
}
.form-v6-content .form-detail input {
  width: 92%;
  padding: 0px 15px 10px 15px;
  border: 2px solid transparent;
  border-bottom: 2px solid #d3d3d3;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.password {
  position: relative;
}
.password i {
  position: absolute;
  color: #1a284e;
  left: 14%;
  top: 14%;
}
.form-v6-content .form-detail input[type="radio"] {
  appearance: auto;
  accent-color: #ddb20c;
}

.form-v6-content .form-detail label {
  color: #000;
  padding: 5px 20px;
}
.radio {
  display: flex;
}
.radio div {
  display: flex;
}
.form-v6-content .form-detail .form-row input {
  background-color: transparent;
}
.form-v6-content .form-detail .form-row input.register {
  background: #ddb20c;
  border-radius: 36px;
  -o-border-radius: 36px;
  -ms-border-radius: 36px;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  width: 160px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin: 11px 0 50px 0px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 8px;
}

.form-v6-content .form-detail i.register:hover {
  background: #c49f0b;
}
.form-v6-content .form-detail .form-row-last input {
  padding: 13px;
}
input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666;
  font-size: 16px;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #666;
  font-size: 16px;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #727272;
  font-size: 16px;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #8a8989;
  font-size: 16px;
}

/* .pass {
  background-image: url(../img/eye.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
} */
a {
  text-decoration: none;
}
.content-form {
  direction: rtl;
}
.form-right {
  background: linear-gradient(rgb(40 120 235 / 35%), rgb(40 120 235 / 25%)),
    url(../img/BGlogin.jpeg), no-repeat center center;
  background-size: cover;
  position: relative;
}

.users {
  direction: rtl;
}
.users a {
  text-decoration: none;
}
.users div {
  padding: 10px 5px;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.users div img {
  width: 37px;
}
.users div.user {
  border-bottom: 4px solid #ddb20c;
  width: 30%;
  position: relative;
}
.users div.user::after {
  position: absolute;
}

.login .contact {
  display: flex;
  direction: ltr;
  justify-content: center;
}
.login .contact img {
  width: 10%;
  margin: 7px;
}
.Button-login {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 20%;
}
.Button-login div {
  padding: 20px;
  border: none;
  min-width: 120px;
  text-align: center;
  border-radius: 30px;
  margin: 20px;
  background-color: #fff;
  color: #000;
}
.logo_users {
  display: flex;
}
.logo_users .users {
  display: none;
}
.login_word {
  display: none;
}
/* Responsive */
@media screen and (max-width: 991px) {
  .form-v6-content {
    flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .form-v6-content .form-left {
    width: 100%;
  }

  .form-v6-content .form-left img {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
  }
  .form-v6-content .form-detail {
    padding: 30px 20px 30px 20px;
    width: auto;
  }
  .form-v6-content .form-detail .form-row input {
    width: 96%;
  }
  .form-v6-content .form-detail .register {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .logo_users .users {
    display: block;
  }
  .login_word {
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px 0 10px 0;
  }
  .users div {
    padding: 3px 5px;
  }
  .login {
    padding: 80px 0 0 0;
  }

  .form-v6-content {
    margin: 0;
    /* background-image: url(../img/BGlogin.jpeg); */
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: center; */
    background: linear-gradient(rgb(40 120 235 / 35%), rgb(40 120 235 / 25%)),
      url(../img/BGlogin.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-v6-content .logo_users .logo {
    width: 50%;
  }
  .form-v6-content .content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo_users {
    justify-content: space-between;
  }
  .logo_users .users img {
    width: 28px;
  }
  .logo_users .users div {
    width: 100% !important;
  }
  .form-v6-content .form-detail label {
    color: #fff;
    padding: 0px 20px;
  }
  .form-v6-content .form-detail .form-row {
    width: 90%;
    justify-content: center;
  }
  .form-v6-content .form-detail .form-row input {
    width: 94%;
    background-color: transparent;
    color: #fff;
  }
  .form-v6-content .form-detail .form-row input.register {
    background-color: #ddb20c;
  }
  .form-v6-content .form-detail .form-row input::placeholder {
    color: #fff;
  }
  .form-left {
    display: none;
  }
  input.register {
    background: #ddb20c;
  }
}

@media screen and (max-width: 575px) {
  .form-v6-content .form-detail .form-row input {
    width: 89%;
  }
}
