@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

nav {
  background-color: #d9d9d9c7 !important;
  direction: rtl;
  z-index: 100;
}
nav.navbar {
  position: fixed;
  width: 100%;
}

/* .brand {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #03a4ed !important;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.brand span {
  color: red;
} */
.navbar-nav {
  direction: rtl;
}
.navbar-nav a {
  color: rgb(34, 33, 33);
  text-decoration: none;
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}
.active {
  color: #f3c716 !important;
  text-decoration: underline;
}
.navbar-brand img {
  width: 120px;
}
.Login_tab {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 10px;
  justify-content: space-around;
  position: relative;
}
.Login_tab img {
  width: 30px;
  border-radius: 50%;
}
nav .dropdown-toggle::after {
  color: #fff;
  display: none;
}
nav .dropdown-menu {
  position: absolute;
  left: 3% !important;
  top: 90% !important;
  background-color: #fff;
  text-align: center;
}
nav .dropdown-menu li {
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}
@media (max-width: 960px) {
  nav {
    background-color: #d9d9d9 !important;
    direction: rtl;
    z-index: 100;
    text-align: center;
  }
  nav .dropdown-menu {
    position: absolute;
    left: 20% !important;
    top: 96% !important;
    background-color: #fff;
    text-align: center;
    width: 61%;
    z-index: 0;
  }
}
